:root {
  --dark: #181833;
  --light: #9797d7;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
  color: var(--light);
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  background-color: var(--dark);
}

dialog {
  border: 2px solid var(--light);
  border-radius: 10px;
  background-color: var(--dark);
  padding: 50px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    text-align: center;
    text-transform: uppercase;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  input {
    color: #000;
    background-color: #ddd;
    border: none;
    border-radius: 2px;
  }
}

#message-output {
  font-size: 1.5rem;
  font-weight: bold;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;

  button {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
  }
}

button {
  background-color: var(--light);
  color: var(--dark);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
}